<!DOCTYPE html>

<html>
    <head>
        <title>Examen Progra</title>
        <link rel="stylesheet" href="css/index.css"/>
    </head>
    <div class="container">
    <body>
        
            <div class="navbar">
            <img class="logo" src="images/logo2.avif" alt="esto es mi logo"/>
            
    
    <body>

        <div class='block' >
            <h1>Bienvenido de nuevo a Cinelitas!</h1>
        
        <div>
            
            <div class="static">EMPIEZA A VER LAS NUEVAS PELICULAS EN CARTELERAS</div>
            </div>
            
            <div class="fixed"><a href="peliculas">Haz click aqui para editar las carteleras!</a></div>
            
            <div class="Avatar">
                
                <img class="Avatar" src="images/Avatar.jpg">
            
            <div class="static2"><a href=https://www.imdb.com/title/tt0499549/>Avatar Movie</a></div>
            
            <div class="static6"><a/>Un infante de marina parapléjico enviado a la luna Pandora en una misión única se debate entre seguir sus órdenes y proteger el mundo que siente que es su hogar"</a></div>
            
            <li>Costo de entrada: 2500 </li>
            <li>Fecha: 22/3/2023 </li>
            <li>Capacidad Maxima: 50 </li>
            <li>Numero de sala: 6</li>
            
            
       
                <img class="Black Widow" src="images/Black Widow.jpg">
                
                <div class="static3"><a href=https://www.imdb.com/title/tt3480822/>Black Widow</a></div>
                
                <div class="static7"><a/>Natasha Romanoff se enfrenta a las partes más oscuras de su libro de contabilidad cuando surge una peligrosa conspiración vinculada a su pasado"</a></div><!-- comment -->
                
            <li>Costo de entrada: 3500 </li>
            <li>Fecha: 22/3/2023 </li>
            <li>Capacidad Maxima: 50 </li>
            <li>Numero de sala: 4</li>
                
                <img class="Flipped" src="images/Flipped.jpg">
                
                <div class="static4"><a href=https://www.imdb.com/title/tt0817177/>Flipped</a></div>
                
                <div class="static8"><a/>Dos estudiantes de octavo grado comienzan a tener sentimientos el uno por el otro a pesar de ser totalmente opuestos"</a></div><!-- comment -->
                
            <li>Costo de entrada: 3000 </li>
            <li>Fecha: 22/3/2023 </li>
            <li>Capacidad Maxima: 50 </li>
            <li>Numero de sala: 2</li>
                
                <img class="Fantastic Beasts" src="images/Fantastic Beasts.jpg">
                
                <div class="static5"><a href=https://www.imdb.com/title/tt4123432/?ref_=nv_sr_srsg_0>Fantastic Beasts</a></div>
                
                <div class="static9"><a/>"El profesor Albus Dumbledore debe ayudar a Newt Scamander y sus socios cuando Grindelwald comienza a liderar un ejército para eliminar a todos los muggles"</a></div><!-- comment -->
                    
            <li>Costo de entrada: 2500 </li>
            <li>Fecha: 22/3/2023 </li>
            <li>Capacidad Maxima: 50 </li>
            <li>Numero de sala: 6</li>
                
                
                
            </div>
            
            
        </div>
        


        
    </body>

</html>
